@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }
* { -webkit-tap-highlight-color: transparent; }

a { @apply underline decoration-slate-500/50 hover:decoration-slate-300/70; }
